In [111]:
link='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [112]:
import pandas as pd

In [173]:
df1=pd.read_html(link)
df=df1[0]
df=df[df['Borough'] != 'Not assigned'].reset_index() #discarding the values which are 'Not Assigned'
df

     index Postcode           Borough             Neighbourhood
0        2      M3A        North York                 Parkwoods
1        3      M4A        North York          Victoria Village
2        4      M5A  Downtown Toronto              Harbourfront
3        5      M6A        North York          Lawrence Heights
4        6      M6A        North York            Lawrence Manor
..     ...      ...               ...                       ...
205    281      M8Z         Etobicoke  Kingsway Park South West
206    282      M8Z         Etobicoke                 Mimico NW
207    283      M8Z         Etobicoke        The Queensway West
208    284      M8Z         Etobicoke     Royal York South West
209    285      M8Z         Etobicoke            South of Bloor

[210 rows x 4 columns]

In [174]:
df=df.groupby("Postcode").agg(lambda x:','.join(set(x))) #Grouping values that have same 'Postcode'
df.reset_index()

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Port Union,Rouge Hill
2        M1E  Scarborough                    Guildwood,West Hill,Morningside
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  South Steeles,Beaumond Heights,Humbergate,This...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [175]:
df['Neighbourhood'].replace("Not assigned", df["Borough"], inplace=True) # Replacing 'Not Assigned' 'Neighbourhood' values with 'Bourugh' values.
df=df.reset_index()
df

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                      Rouge,Malvern
1        M1C  Scarborough               Highland Creek,Port Union,Rouge Hill
2        M1E  Scarborough                    Guildwood,West Hill,Morningside
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V    Etobicoke  South Steeles,Beaumond Heights,Humbergate,This...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [176]:
df.shape

(103, 3)

In [177]:
coords=pd.read_csv('http://cocl.us/Geospatial_data') # reading geospatial data into dataframe
coords

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [178]:
df=df.merge(coords, left_on='Postcode', right_on='Postal Code') # merging the two dataframes
df=df.drop(columns='Postal Code', axis=1) # deleting unnecesary column/s
df

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Port Union,Rouge Hill",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,West Hill,Morningside",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles,Beaumond Heights,Humbergate,This...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054